<h1>やることメモ一覧</h1>

<% if @messages.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>内容</th>
      </tr>
    </thead>
    <tbody>
      <% @yarukotos.each do |yarukoto| %>
        <tr>
          <td><%= link_to yarukoto.content, yarukoto %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @yarukotos %>
  </div>
<% end %>

<%= link_to '新規やることメモの投稿', new_yarukoto_path, class: "btn btn-primary" %>